<div class="container">
  <h2>新規登録画面</h2>
  <h3>登録情報</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%#= render "devise/shared/error_messages", resource: resource %>
    <%= render partial: "customer_form", locals: {resource: resource, f: f} %>
  <div class="row">
    <div class="col-xs-3">
        <h4>パスワード</h4>
    </div>
      <div class="col-xs-8">
      <%= render partial: "error_message", locals: {resource: resource, attr: :password} %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "パスワード（6文字以上）" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
        <h4>パスワード確認</h4>
    </div>
    <div class="col-xs-8">
      <%= render partial: "error_message", locals: {resource: resource, attr: :password_confirmation} %>
          <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", placeholder:  "パスワードの確認" %>
          <div class="col-xs-12">
           <%= f.submit "登録", class:"btn btn-primary", style:"float:right;width:25%;" %>
          </div>
          <div class="col-xs-12">
          <%= render "customers/shared/links" %>
          </div>
    </div>
  </div>
  <% end %>
  
</div>
