 <div class="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>カレンダー</h2>
    </div>
  </div>
  <div class="row">
    <div class= "col-xs-2">
      <div class="sidebar">
      <%= link_to("./", class: 'list-content') do %>
        <div class="sidebar-title">基本情報</div>
      <% end %>
      <%= link_to(admins_sub_facility_facilities_path, class: 'list-content') do %>
        <div class="sidebar-title">コート一覧</div>
      <% end %>
      <%= link_to(admins_facilities_calendar_path, class: 'list-content') do %>
        <div class="sidebar-title">カレンダー</div>
      <% end %>
      <%= link_to(admins_information_facilities_path, class: 'list-content') do %>
        <div class="sidebar-title">お知らせ</div>
        <% end %>
        </div>
      </div>
      <div class="col-xs-10">
          <p class="note">※「予約済」の場合は<span class="under-bule">青色</span>、「キャンセル済」の場合は<span class="under-red">赤色</span>で表示されます。</p>
        <div id="calendar"></div>
      </div>
  </div>
</div>
<%= render 'facilities/calendar_list' %>