<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>新規登録画面</h2>
    </div>
  </div>
    <div class= "row">
    <%= form_for(@facility, url:admins_facilities_path) do |f| %>
      <div class= "col-xs-7">
      <h3>施設画像</h3>
      <div id="image_view"></div>
      <%= attachment_image_tag @facility,:facility_image,:fill,300,200,format:'jpeg', id:"orgin_img" %>
              <%= f.attachment_field :facility_image, id: "image_btn" %>
      </div>
      <div class= "col-xs-5">
      <h3>施設紹介</h3>
        <table class= "table">
        <tbody>
          <tr>
            <td>施設名</td>
            <td><%= f.text_field :facility_name %></td>
          </tr>
          <tr>
            <td >カテゴリ</td>
            <td><%= f.collection_select :category_id, Category.all, :id, :category_name, include_blank: "--選択してください--" %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_area :address %></td>
          </tr>
          <tr>
            <td>解放日</td>
            <td><%= f.text_field :date%></td>
          </tr>
          <tr>
            <td>解放時間</td>
            <td><%= f.text_field :lending_time %></td>
          </tr>
          <tr>
            <td>TEL</td>
            <td><%= f.text_field :facility_phone %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= f.text_area :introduction %></td>
          </tr>
          <tr>
            <td>使用ステータス</td>
            <td><%= f.select :use_status,[["使用可",'使用可'],["使用不可",'使用不可']] %></td>
          </tr>
          </tbody>

        </table>
        <%= f.submit "新規登録" ,class:"btn btn-primary next"%>
      </div>
      <% end %>
    </div>
</div>
<script>
$(function() {
    $('#image_btn').on('change', function(e) {
        // 1枚だけ表示する
        var file = e.target.files[0];
        console.log(file);
        if ( !file ){
            $('#image_view').html("");
            $('#orgin_img').show();
            return;
        }
        // ファイルリーダー作成
        var fileReader = new FileReader();
        if (file.type == 'video/mp4') {
            var dom = $("<video>");
        }
        else{
            var dom = $("<img>");
        }
        dom.attr('style','width:400px;','height:316px;');
        fileReader.onload = function() {
            // Data URIを取得
            console.log(this.result);
            var dataUri = this.result;
            dom.attr('src', dataUri);
            // img要素に表示
            $('#image_view').html(dom);
        }
        // ファイルをData URIとして読み込む
        fileReader.readAsDataURL(file);
        $('#orgin_img').hide();
    });
});
</script>