<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>詳細画面</h2>
    </div>
  </div>
    <div class= "row">
      <div class= "col-xs-7">
      <h3>施設画像</h3>
      <div class="img"><%= attachment_image_tag @facility,:facility_image,:fill,400,316,format:'jpeg',fallback: "no_image.jpg" %></div>
      </div>
      <div class= "col-xs-5">
      <h3>施設紹介</h3>
        <table class= "table">
        <tbody>
          <tr>
            <td>施設名</td>
            <td><%=  @facility.facility_name %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @facility.address %></td>
          </tr>
          <tr>
            <td>解放日</td>
            <td><%= @facility.date%></td>
          </tr>
          <tr>
            <td>解放時間</td>
            <td><%= @facility.lending_time %></td>
          </tr>
          <tr>
            <td>TEL</td>
            <td><%= @facility.facility_phone %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @facility.introduction %></td>
          </tr>
          <tr>
            <td>使用ステータス</td>
            <td><%= @facility.use_status ? "使用可": "使用不可" %></td>
          </tr>
          </tbody>

        </table>
        <%= link_to '編集する', edit_admins_facility_path(@facility.id) ,class:"btn btn-primary", style:"width:50%;"%>
      </div>
    </div>
    <%= render 'facilities/calendar' %>
</div>