<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>詳細画面</h2>
    </div>
  </div>
    <div class="row">
      <div class= "col-xs-3">
        <div class="sidebar">
        <div class="sidebar-title"><%= link_to '基本情報', admins_facility_path(@facility.id) %></div>
        <div class="sidebar-title"><%= link_to 'コート一覧', admins_sub_facility_facilities_path(@facility.id) %></div>
        <div class="sidebar-title"><%= link_to 'カレンダー', admins_facilities_calendar_path(@facility.id) %></div>
        </div>
        <%= link_to '編集する', edit_admins_facility_path, class: 'btn btn-primary', style:"width:100%;"%>
      </div>
      <div class= "col-xs-9">
      <h3>施設画像</h3>
      <div class="sub-img"><%= attachment_image_tag @facility,:facility_image,:fill,680,380,format:'jpeg',fallback: "no_image.jpg" %></div>
      <h3>施設紹介</h3>
        <table class= "table">
        <tbody>
          <tr>
            <td>施設名</td>
            <td><%= @facility.facility_name %></td>
          </tr>

            <td>住所</td>
            <td><%= @facility.address %></td>
          </tr>
          <tr>
            <td>解放日</td>
            <td><%= @facility.date%></td>
          </tr>
          <tr>
            <td>解放時間</td>
            <td><%= @facility.lending_time %></td>
          </tr>
          <tr>
            <td>TEL</td>
            <td><%= @facility.facility_phone %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @facility.introduction %></td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>