<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>トップページ</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="top-box">
        <h3>最近登録した施設</h3>
        <table class="table">
          <tr class="border">
            <th>登録日</th>
            <th>施設名</th>
            <th></th>
          </tr>
          <tbody>
          <% @facilities.each do |facility| %>
            <tr>
              <td><%= facility.created_at.strftime("%Y年%m月%d日")%></td>
              <td><%= facility.facility_name%></td>
              <td><%= link_to "表示", admins_facility_path(facility.id), class:'btn btn-primary' %></td>
            </tr>
        <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="top-box">
        <h3>キャンセルされた施設</h3>
        <table class="table">
          <tr class="border">
            <th>キャンセル日</th>
            <th>施設名</th>
            <th>予約者名</th>
            <th></th>
          </tr>
          <tbody>
            <% @c_events.each do |event| %>
            <tr>
              <td><%= link_to event.updated_at.strftime("%Y年%m月%d日")%></td>
              <td><%= event.facility.facility_name %></td>
              <td><%= event.customer.last_name %><%= event.customer.first_name %></td>
              <td><%= link_to "表示", admins_event_path(event.id), class:'btn btn-primary' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-6">
      <div class="top-box">
        <h3>最近予約された施設</h3>
        <table class="table">
          <tr class="border">
            <th>予約日</th>
            <th>施設名</th>
            <th>予約者名</th>
            <th></th>
          </tr>
          <tbody>
            <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.created_at.strftime("%Y年%m月%d日") %></td>
              <td><%= event.facility.facility_name %></td>
              <td><%= event.customer.last_name %><%= event.customer.first_name %></td>
              <td><%= link_to "表示", admins_event_path(event.id), class:'btn btn-primary' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
</div>
