<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>コート一覧</h2>
    </div>
  </div>
    <div class="row">
      <div class= "col-xs-3">
        <div class="sidebar">
         <%= link_to("./", class: 'list-content') do %>
          <div class="sidebar-title">基本情報</div>
         <% end %>
         <%= link_to(sub_facility_facilities_path, class: 'list-content') do %>
          <div class="sidebar-title">コート一覧</div>
         <% end %>
         <%= link_to(facilities_calendar_path, class: 'list-content') do %>
          <div class="sidebar-title">カレンダー</div>
         <% end %>
        </div>
        <%= link_to '新規予約する', new_event_path, class: 'btn btn-danger', style:"width:100%;"%>
        </div>
      <div class="col-xs-9">
      <% @sub_facilities.each do |sub_facility| %>
      <%= link_to(sub_facility_path(sub_facility) , class: 'list-content') do %>
       <div class="sub-facility-box clearfix">
        <div class="content">
          <div class="sub-facility-img">
            <div><%= attachment_image_tag sub_facility,:sub_image,:fill,150,150,format:'jpeg' %></div>
          </div>
          <div class="text_content">
            <h4><%= sub_facility.sub_number%> <%= sub_facility.sub_name %></h4>
            <p class="sub-category">
              <%= sub_facility.category.category_name %>
            </p>
            <p class="sub-date">
              <%= sub_facility.facility.date %>
            </p>
            <p class="sub-time">
              <%= sub_facility.facility.lending_time %>
            </p>
            <p class="sub-status">
              <%= sub_facility.use_status ? "使用可" : "使用不可" %>
            </p>
          </div>
        </div>
       </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
