<% facilities.each do |facility| %>
  <% if facility.use_status == true %>
    <div class="facility-area">
        <%= link_to(facility_path(facility), class: 'list-content') do %>
          <%= attachment_image_tag facility,:facility_image,:fill,280,200,format:'jpeg',fallback: "no_image.jpg" %>
          <p>
            <ul class="facility-heading">施設名</ul><li> <%= facility.facility_name %></li><br>
            <ul class="facility-heading">解放日</ul><li> <%= facility.date%></li><br>
            <ul class="facility-heading">解放時間</ul><li> <%= facility.lending_time  %></li><br>
          </p>
        <%end%>
      </div>
  <% end %>
<% end %>