<div class= "container">
    <div class= "row">
      <div class="facilities-box">
      <h2>施設一覧</h2>
       <% @facilities.each do |facility| %>
          <div class="facility-area">
							<%= link_to(facility_path(facility), class: 'list-content') do %>
                <%= attachment_image_tag facility,:facility_image,:fill,280,200,format:'jpeg' %>
                <p>
                  <ul class="facility-heading">施設名</ul><li> <%= facility.facility_name %></li><br>
                  <ul class="facility-heading">解放日</ul><li> <%= facility.date%></li><br>
                  <ul class="facility-heading">解放時間</ul><li> <%= facility.lending_time  %></li>
                </p>
				     <%end%>
            </div>
					<% end %>
      </div>
    </div>
    <%= paginate @facilities, class: "paginate" %>
</div>
