<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>詳細画面</h2>
    </div>
  </div>
  <div class="row">
    <div class= "col-xs-3">
        <div class="sidebar">
        <%= link_to(facility_path(@facility), class: 'list-content') do %>
        <div class="sidebar-title">基本情報</div>
        <% end %>
        <%= link_to(sub_facility_facilities_path(@facility.id), class: 'list-content') do %>
        <div class="sidebar-title">コート一覧</div>
        <% end %>
        <%= link_to(facilities_calendar_path(@facility.id), class: 'list-content') do %>
        <div class="sidebar-title">カレンダー</div>
        <% end %>
        </div>
        <%= link_to '新規予約する', new_event_path(@facility.id), class: 'btn btn-danger', style:"width:100%;"%>
    </div>
    <div class= "col-xs-9">
      <%= render 'show_list', facility: @facility %>
      <% if customer_signed_in? %>
       <h3>コメント投稿</h3>
      <div class="comment-form">
      <%= form_with model: [@facility, @facility_comment], data:{ remote: true } do |f| %>
       <!-- 評価 -->
        <div class="form-group" id="star">
          <%= f.label :rate,'評価 ' %>
          <%= f.hidden_field :rate, id: :facility_comment_star %>
        </div>
      <!-- コメント -->
        <%= f.text_area :comment, style:'width:100%;height:100px;' %>
        <div class="comment-btn">
        <%= f.submit '送信', class:'btn btn-primary' %>
        </div>
      <% end %>
      </div>
     <% end %>
    </div>
  </div>
</div>
<!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'facility_comment[rate]',
    half: true,
  });
  </script>