<div class="container">
	<h2>予約一覧画面</h2>
	<table class="table">
			<tr class="border">
				<th>予約日</th>
				<th>予約者</th>
        <th>ご利用人数</th>
				<th>ステータス</th>
				<th>注文詳細</th>
			</tr>
		<tbody>
			<% @events.each do |event| %>
			<tr>
				<td><%= event.start_at.strftime("%Y年%m月%d日") %></td>
				<td><%= event.customer.last_name %><%= event.customer.first_name %> 様</td>
				<td><%= event.people %></td>
				<td><%= event.title %></td>
				<td><%= link_to '表示する', event_path(event.id), class:'btn btn-primary' %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @events, class: "paginate" %>
</div>