<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>新規登録画面</h2>
      <h3>予約内容</h3>
    </div>

    <%= form_for(@event, url:confirm_events_path) do |f| %>
        <table class= "table">
        <tbody>
          <tr>
            <td>タイトル</td>
            <td><%= f.hidden_field :facility_id %><%= f.hidden_field :customer_id %><%= f.select :title,[["予約",'予約済'],["キャンセル",'キャンセル済']] %></td>
          </tr>
          <tr>
            <td>コートナンバー</td>
            <td><%= f.select :number,[["①",'①'],["②",'②'],["③",'③'],["④",'④']],include_blank: "--選択してください--" %></td>
          </tr>
          <tr>
            <td>ご利用開始時間</td>
            <td><%= f.datetime_select :start_at %></td>
          </tr>
          <tr>
            <td>ご利用終了時間</td>
            <td><%= f.datetime_select :end_at %></td>
          </tr>
          <tr>
            <td>ご利用人数</td>
            <td><%= f.select :people,[["1人",'1人'],["2人",'2人'],["3人",'3人'],["4人",'4人'],["5人",'5人'],["6人以上",'6人以上']],include_blank: "--選択してください--" %></td>
          </tr>
          </tbody>
        </table>
        <%= f.submit "予約確認画面へ" ,class:"btn btn-primary"%>
      <% end %>
  </div>
</div>