<div class="container">
  <div class="row">
    <h2>会員一覧</h2>
    <table class="table">
      <tr class="border">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
      <tbody>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.last_name %><%= customer.first_name %></td>
        <td><%= customer.email %></td>
        <td><%= link_to customer.member_status ? "会員" : "退会", admins_customer_path(customer.id), class:'bth bth-primary' %></td>
      </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <%= paginate @customers, class: "paginate" %>
</div>