<div class="container">
    <div class="row">
      <div class="col-xs-5">
        <h3>マイページ</h3>
        <label>登録情報</label>
          <%= link_to "編集する", edit_customer_path, class:"btn btn-default" %>

            <table class="table">
              <tr>
               <td>会員ステータス</td>
               <td><%= @customer.member_status ? "会員" : "退会"%></td>
              </tr>
              <tr>
               <td>氏名</td>
               <td><%= @customer.last_name %> <%= @customer.first_name %></td>
              </tr>
              <tr>
            	 <td>カナ</td>
               <td><%= @customer.kana_last_name %><%= @customer.kana_first_name %></td>
              </tr>
              <tr>
            	 <td>電話番号</td>
               <td><%= @customer.telephone %></td>
              </tr>
              <tr>
            	 <td>メールアドレス</td>
               <td><%= @customer.email %></td>
              </tr>
            </table>
            <label>予約一覧</label>
            <%= link_to "一覧を見る", admins_events_path, class:"btn btn-default next" %>
      </div>
    </div>
</div>