<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>マイページ</h2>
        <h3>登録情報</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
          <div class="profile">
            <h4 class="profile-title">個人設定</h4>
            <div class="profile-box">
              <i class="fas fa-user-cog"></i>
            </div>
            <div class="profile-box">
              <li class="profile-text"><%= link_to ">編集する", edit_customer_path %></li>
              <li class="profile-text"><%= link_to ">パスワード変更", customer_path %></li>
              <li class="profile-text"><%= link_to ">退会手続きへ", edit_customer_path %></li>
            </div>
          </div>
          </div>
          <div class="col-xs-6">
          <div class="profile">
            <h4 class="profile-title">各種</h4>
            <div class="profile-box">
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="profile-box">
              <li class="profile-text"><%= link_to ">予約一覧へ", events_path %></li>
              <li class="profile-text"><%= link_to ">新規予約する", facilities_path %></li>
              <li class="profile-text"><%= link_to ">お気に入り施設", customer_favorites_path %></li>
            </div>
          </div>
        </div>
    </div>
</div>
