<div class="container">
<h2>ログイン画面</h2>
<h3>ログイン情報</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-xs-3">
      <h4>メールアドレス</h4>
  </div>
  <div class="col-xs-8">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "shoolspace@example.co.jp" %>
  </div>
</div>
  <div class="row">
    <div class="col-xs-3">
        <h4>パスワード</h4>
    </div>
      <div class="col-xs-8">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "パスワード（6文字以上）" %>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
       <% end %>
        <p><%= f.submit "Log in", class:"btn btn-primary", style:"width:25%;" %></p>
       <% end %>
       <%= render "customers/shared/links" %>
    </div>
</div>