<!DOCTYPE html>
<html>
  <head>
    <title>SchoolSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8d33356096.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">

      <%= render 'layouts/header' %>
    <br>
    <br>
    <br>
    <br>
    <%= yield %>
    <footer>
    <p><small lang="en">© 2020 SchoolSpace inc.</small></p>
    </footer>
  </body>
</html>
