<div class ="container">
  <div class= "row">
    <div class= "col-xs-12">
      <h2>編集画面</h2>
    </div>
  </div>
    <div class= "row">
    <%= form_for(@sub_facility, url:admins_sub_facility_path(@sub_facility)) do |f| %>
      <div class= "col-xs-7">
      <h3>コート画像</h3>
      <div id="image_view"></div>
      <%= attachment_image_tag @sub_facility,:sub_image,:fill,300,200,format:'jpeg', fallback: "no_image.jpg",id:"orgin_img" %>
              <%= f.attachment_field :sub_image, id: "image_btn" %>
      </div>
      <div class= "col-xs-5">
      <h3>コート紹介</h3>
        <table class= "table">
        <tbody>
        <tr>
            <td >施設名</td>
            <td><%= f.collection_select :facility_id, Facility.all, :id, :facility_name, include_blank: "--選択してください--" %></td>
          </tr>
          <tr>
            <td>コート名</td>
            <td><%= f.text_field :sub_name %></td>
          </tr>
          <tr>
            <td>コートナンバー</td>
            <td><%= f.select :sub_number,[["①",'①'],["②",'②'],["③",'③'],["④",'④']],include_blank: "--選択してください--" %></td>
          </tr>
          <tr>
            <td >カテゴリ</td>
            <td><%= f.collection_select :category_id, Category.all, :id, :category_name, include_blank: "--選択してください--" %></td>
          </tr>
            <td>詳細内容</td>
            <td><%= f.text_area :body %></td>
          </tr>
          </tbody>
        </table>
        <%= f.submit "変更する" ,class:"btn btn-primary next"%>
      </div>
      <% end %>
    </div>
</div>
<script>
$(function() {
    $('#image_btn').on('change', function(e) {
        // 1枚だけ表示する
        var file = e.target.files[0];
        console.log(file);
        if ( !file ){
            $('#image_view').html("");
            $('#orgin_img').show();
            return;
        }
        // ファイルリーダー作成
        var fileReader = new FileReader();
        if (file.type == 'video/mp4') {
            var dom = $("<video>");
        }
        else{
            var dom = $("<img>");
        }
        dom.attr('style','width:400px;','height:316px;');
        fileReader.onload = function() {
            // Data URIを取得
            console.log(this.result);
            var dataUri = this.result;
            dom.attr('src', dataUri);
            // img要素に表示
            $('#image_view').html(dom);
        }
        // ファイルをData URIとして読み込む
        fileReader.readAsDataURL(file);
        $('#orgin_img').hide();
    });
});
</script>